<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      Silverlign Web Gallery
    </title>
    <link rel="stylesheet" type="text/css" href="http://sf-digital.com/WebGallery/styles/mainSFDS.css" />
  </head>

  <body link="#A2978A" vlink="#270F03" alink="#C4A87C">
    <table width="858" height="695" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="81" colspan="2">
          <img src="http://sf-digital.com/WebGallery/styles/webLogo.gif" alt="SFDS Logo" width="256" height="58" hspace="5" align="top" />
        </td>
      </tr>
      <tr>
        <td width="260" align="right" valign="top">
          <p>
            &nbsp;
          </p>
          <table width="240" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="25" valign="top">
                <span class="Headline">Current Job:</span>
              </td>
            </tr>
            <tr>
              <td height="20">
                <a href="<%= recipe[:current_job][:href]  %>" target="_blank" class="ListLeft">Job #<%= recipe[:current_job][:number] %> <%= recipe[:current_job][:date] %></a>
              </td>
            </tr>
            <tr>
              <td height="40"></td>
            </tr>            
          </table>
          <table width="240" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="25" valign="top">
                <span class ="Headline">Archive:</span>
              </td>
            </tr>            
            <% recipe[:archives].each do |job| %>
            <tr>
              <td height="20">
                <a href="<%= job[:href] %>" target="_blank" class="ListLeft">Job #<%= job[:number] %> <%= job[:date] %></a>
              </td>
            </tr>
            <% end %>
          </table>
        </td>
        <td width="600" valign="top">
          <blockquote>
            <p>
              &nbsp;
            </p>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="36" valign="top">
                  <span class="SFDSHeadline">SF Digital Studio Viewing Gallery</span>
                </td>
              </tr>
              <tr>
                <td align="left">
                  <table width="97%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td valign="top">
                        <p class="Instructions">
                          A)
                        </p>
                      </td>
                      <td valign="top">
                        <p class="Instructions">
                          Type out your feedback in the feedback field and click on Save Feedback.<br />
                          A "SAVED!" icon will appear.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td width="19" valign="top">
                        <p class="Instructions">
                          B)
                        </p>
                      </td>
                      <td valign="top">
                        <p class="Instructions">
                          After you've scrolled and commented on each image, then click on E-mail Feedback when you are done reviewing all the images.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td width="19" valign="top">
                        <p class="Instructions">
                          C)
                        </p>
                      </td>
                      <td valign="top">
                        <p class="Instructions">
                          Type in your name when you are prompted. This will show up on the Subject line of the email that will be sent to us.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td width="19" valign="top">
                        <p class="Instructions">
                          D)
                        </p>
                      </td>
                      <td valign="top">
                        <p class="Instructions">
                          Once OK is clicked, you will be taken into your email with all your feedback listed in the email ready for you to send. Any image that got a SAVE! icon that had comments in the feedback field will get it's comments transfered onto the email listed by name of the file.
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="46" valign="bottom" class="Thanks">
                  Thanks!<br />
                  <span class="style3">SF <span class="style4">Digital</span> Studio</span>
                </td>
              </tr>
            </table>
            <p>
              &nbsp;
            </p>
            <p>
              &nbsp;
            </p>
            <p>
              &nbsp;
            </p>
          </blockquote>
        </td>
      </tr>
    </table>
  </body>
</html>
